* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --yelow-bg: #ffea2b;
  --red-bg: #ff5e48;
  --gray-col: #cdcdcd;
  --black-bg: #000000;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: whitesmoke;
}
.header {
  width: 90%;
  padding: 0.9em 0em;
  margin-left: auto;
  margin-right: auto;
}
.header h1 {
  font-weight: 800;
}
.note-main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}
.activeNotes {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.archivedNotes {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.hide-tab {
  display: none;
}
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.note-item {
  width: 24%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--gray-col);
  border-radius: 0.25em;
  padding: 0.75em 0.75em;
  overflow: hidden;
  opacity: 0;
  animation: fadeInAnimation 0.3s ease-in-out forwards;
}
.note-item__content h4 {
  margin-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.note-item__content p {
  border-top: 1px solid var(--gray-col);
  font-size: 0.75em;
  line-height: 165%;
  margin: 0;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.note-item__action {
  padding-top: 0.5em;
  border-top: 1px solid var(--gray-col);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.note-item__action p {
  margin: 0;
  font-size: 0.6rem;
  font-style: italic;
}
.note-item__action-button {
  display: flex;
  gap: 0.5em;
}
.note-item__archive {
  background-color: var(--yelow-bg);
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 0.8em;
  font-weight: 700;
  cursor: pointer;
}
.note-item__delete {
  background-color: var(--red-bg);
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 0.8em;
  font-weight: 700;
  cursor: pointer;
}
.note-archived {
  width: 24%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--gray-col);
  border-radius: 0.25em;
  padding: 0.75em 0.75em;
  opacity: 0;
  animation: fadeInAnimation 0.3s ease-in-out forwards;
}
.note-archived__content h4 {
  margin-bottom: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.note-archived__content p {
  border-top: 1px solid var(--gray-col);
  font-size: 0.75em;
  line-height: 165%;
  margin: 0;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.note-archived__action {
  padding-top: 0.5em;
  border-top: 1px solid var(--gray-col);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.note-archived__action p {
  margin: 0;
  font-size: 0.65rem;
  font-style: italic;
}
.note-archived__action-button {
  display: flex;
  gap: 0.5em;
}
.note-archived__active {
  background-color: #76ff0b;
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  font-weight: 700;
  cursor: pointer;
}
.note-archived__delete {
  background-color: var(--red-bg);
  border: none;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  font-weight: 700;
  cursor: pointer;
}
.note-action {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 1em;
  padding-bottom: 1em;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-col);
}
.note-tab {
  display: flex;
  gap: 0.5em;
}
.note-tab__button {
  padding: 0.5em 1.5em;
  border-radius: 1em;
  border: 1px solid var(--gray-col);
  color: var(--black-bg);
  cursor: pointer;
}
.note-tab__button-active {
  padding: 0.5em 1.5em;
  border-radius: 1em;
  border: none;
  background-color: var(--black-bg);
  color: #ffffff;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-in-out;
}
.note-search {
  width: 45%;
  display: flex;
}
.note-search__input {
  width: 100%;
  padding: 0.75em 1.25em;
  border: 1px solid var(--gray-col);
  border-radius: 32px 0px 0px 32px;
  background-color: #ffffff;
}
.note-search__button {
  background: url("../assets/search-icon.svg") no-repeat;
  background-color: var(--black-bg);
  background-size: 1.3em;
  background-position: center;
  border: none;
  border-radius: 0px 32px 32px 0px;
  padding: 0.5em 1.45em;
  cursor: pointer;
}
.note-search__input:focus {
  outline: none;
  box-shadow: 0px 0px 3px 2px rgba(0, 26, 255, 0.25);
  transition: 0.2s ease-in-out;
}
.note-add__button-mobile {
  background: url("../assets/add-icon.svg") no-repeat;
  background-position: center;
  background-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  border: none;
  padding: 1em 1em;
}
.note-add__button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: #76ff0b;
  border: none;
  border-radius: 0.5em;
  padding: 0.75em 1em;
  font-weight: 700;
  cursor: pointer;
}
.overlay {
  z-index: 1;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black-bg);
  opacity: 0%;
  animation: fadeInAnimationModal 0.3s ease-in-out forwards;
}
.note-modal {
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
  border-radius: 0.5em;
  width: 55%;
  left: 50%;
  padding: 2em 2em;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: row-reverse;
  opacity: 0;
  animation: fadeInAnimation 0.3s ease-in-out forwards;
}
@keyframes fadeInAnimationModal {
  from {
    opacity: 0%;
  }
  to {
    opacity: 80%;
  }
}
.note-modal__form {
  z-index: 999;
  display: flex;
  gap: 1.8em;
  flex-direction: column;
  width: 100%;
}
.note-modal__form-title {
  padding: 0.5em 1em;
  font-size: 1rem;
}
.note-modal__form p {
  position: absolute;
  margin: 0;
  margin-top: 2.8em;
  font-size: 0.8rem;
}
.note-modal__form-body {
  padding: 0.8em 0.8em;
  font-size: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.note-modal__action {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
.note-modal__action-save {
  padding: 0.5em 1em;
  background-color: #76ff0b;
  font-weight: 600;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
.note-modal__action-cancel {
  padding: 0.5em 1em;
  background-color: var(--red-bg);
  font-weight: 600;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
.close-icon {
  background: url("../assets/close-modal.svg") no-repeat;
  background-size: 1.5em;
  position: absolute;
  z-index: 1919;
  width: 1.5em;
  height: 1.5em;
  background-position: center;
  top: 0.4em;
  right: 0.4em;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .note-action {
    position: sticky;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    gap: 1em;
    top: -0.1em;
    background-color: whitesmoke;
    border-bottom: 1px solid #aeaeae;
    padding-top: 1em;
  }
  .note-add__button {
    order: 3;
    align-self: flex-end;
  }
  .note-search {
    order: 1;
    width: 100%;
  }
  .note-tab {
    position: absolute;
    top: 4.9em;
    display: flex;
    order: 2;
  }
  .note-add__button p {
    display: none;
  }
  .note-add__button-mobile {
    align-self: flex-end;
    display: block;
    background-color: #76ff0b;
    background: url("../assets/add-icon.svg") no-repeat;
    background-position: center;
    background-size: 1.9em;
    width: 1.5em;
    height: 1.5em;
    border: none;
    padding: 1em 1em;
  }
  .activeNotes {
    flex-direction: column;
  }
  .note-item,
  .note-archived {
    width: 100%;
    height: 38vh;
  }
  .note-item__content h4,
  .note-archived h4 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .note-item__content p,
  .note-archived__content p {
    font-size: 0.9rem;
  }
  .note-item__action p,
  .note-archived__action p {
    font-size: 0.8rem;
  }
  .note-item__archive,
  .note-item__delete,
  .note-archived__active,
  .note-archived__delete {
    font-size: 0.8rem;
    padding: 0.7em 1.5em;
  }

  .note-modal {
    width: 100%;
    height: 100vh;
    top: 21%;
    border-radius: 0.8em;
    padding: 3em 2em;
  }
  .note-modal__form {
    gap: 1.9em;
  }
  .note-modal__form-title {
    font-size: 1.5rem;
    border-radius: 0.25em;
    border: 1px solid #aeaeae;
    padding: 0.5em 0.8em;
  }
  .note-modal__form p {
    font-size: 1rem;
    margin-top: 3.3em;
  }
  .note-modal__form-body {
    font-size: 1.5rem;
    border-radius: 0.25em;
    border: 1px solid #aeaeae;
  }
  .note-modal__form-title:focus,
  .note-modal__form-body:focus {
    outline: none;
    border: 1px solid var(--black-bg);
  }
  .close-icon {
    background-size: 2em;
    top: 0.5em;
    right: 0.5em;
  }
  .note-modal__action {
    flex-direction: column;
    gap: 0.5em;
  }
  .note-modal__action-save,
  .note-modal__action-cancel {
    padding: 1em 1em;
  }
}
